@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    min-height: 100vh;
    background:#5c639c;
}

.Sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 62px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    background-color: #2c3477;
    padding: 30px 10px;
    transition: all 0.4s ease;
}

.Sidebar:hover{
    width: 280px;
}

.sidebar-header img{
    width: 245px;
    border-radius: 5px;
    mix-blend-mode: multiply;
}

.sidebar-links{
    list-style: none;
    margin-top: 20px;
    height: 80%;
    overflow-y: auto;
    scrollbar-width: none;
}

.sidebar-links h4 span{
    opacity: 0;
}

.Sidebar:hover .sidebar-links h4 span{
    opacity: 1;
}

.sidebar-links h4{
    color: #fff;
    font-weight: 500;
    margin: 5px 0;
    white-space: nowrap;
    position: relative;
}

.sidebar-links li a{
    display: flex;
    align-items: center;
    gap: 0 10px;
    color: azure;
    font-weight: 200;
    padding: 10px 10px;
    white-space: nowrap;
    text-decoration: none;
}

.sidebar-links li a:hover{
    background: #8f9ec8;
    color: #fff;
    border-radius: 5px;
}

.user-account {
    margin-top: auto;
    padding: 12px 10px;
    margin-left: -10px;
}

.user-account .user-profile {
    display: flex;
    align-items: center;
    color: lightgray;
}

.user-profile img{
    width: 100px;
    border-radius: 50%;
    margin-left: 5px;
}

.user-detail{
    margin-left: 30px;
    white-space: nowrap;
}

.user-profile h3{
    font-size: 1rem;
    font-weight: 600;
}

.user-profile span{
    font-size: 0.85rem;
    font-weight: 500;
    display: block;
    margin-top: 0;
}

.Sidebar:hover .user-account:hover{
    background-color: #8f9ec8;
    border-radius: 5px;
}

